$background-color: rgba(128, 128, 128, 0.033);
$primary-color: rgba(0, 128, 128, 0.886);


.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 30px 40px ;
    background-color: $background-color;
    height: 100%
}

.welcome-page-card {
    margin: 10% auto;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-button {
    background-color: $primary-color;
    color: white
}